.user {
  margin-top: var(--spacing-300);
  background-color: var(--clr-dark-blue);
  padding: var(--spacing-400) var(--spacing-300);
  display: flex;
  border-radius: var(--border-radius-100);
}

.user__image {
  width: 9rem;
  border-radius: 50%;
}

.user__content {
  flex-grow: 1;
}

.user__link {
  color: var(--clr-blue);
}

