.user {
  margin-top: var(--spacing-300);
  background-color: var(--clr-dark-blue);
  padding: var(--spacing-400) var(--spacing-300);
  border-radius: var(--border-radius-100);
}

.user__image {
  width: min(20vw, 8rem);
  border-radius: 50%;
}


@media(min-width: 48em) {
  .user__data {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}


.user__link {
  color: var(--clr-blue);
}

