.user {
  margin-top: var(--spacing-300);
  background-color: var(--clr-dark-blue);
  padding: var(--spacing-100) var(--spacing-300);
  display: flex;
}

.user__image {
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
}

.user__content {
  flex-grow: 1;
}

