:root {
  /* Font Family */
  --font-space-mono: "Space Mono", monospace;

  /* Font Sizes*/

  /* Font Weight */
  --font-weight-normal: 400;
  --font-weight-bold: 700;

  /* Color */
  --blue: hsl(212, 100%, 50%);
  --white: hsl(0, 100%, 100%);
  -

  /* Spacing */
  --flow-space: 1rem;
  --gap: 1rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture {
  display: block;
  max-width: 100%;
}

button,
input {
  font: inherit;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

body {
  font-family: var(--font-space-mono);
  min-height: 100vh;
  display: grid;
  place-content: center;
  line-height: 1.5;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

/* Utilities */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  /* added line */
  border: 0;
}

.flow > * + * {
  margin-top: var(--flow-space);
}

/* Flex Utility */
.flex {
  display: flex;
}

.flex--gap {
  gap: var(--gap);
}

.flex--column {
  flex-direction: column;
}

.flex--center {
  align-items: center;
  justify-content: center;
}

.flex--justify-center {
  justify-content: center;
}

.flex--justify-space {
  justify-content: space-between;
}

.flex--align-center {
  align-items: center;
}

/* Grid Utility */
.grid {
  display: grid;
}

.grid--gap {
  gap: var(--gap);
}

.grid--items-center {
  place-items: center;
}

.grid--content-center {
  place-content: center;
}
